@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: Literata;
}

body.locked {
  overflow: hidden;
}

body.dark {
  background: #242424;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header {
  background-color: #ffffff;
  margin-bottom: 100px;
}

.header.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navbar {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu__item-link {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.menu__item-link:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.header__burger {
  display: none;
  background: transparent;
  z-index: 3;
}

.footer {
  background: #0a0a0a;
  height: 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__items a {
  color: #fff;
}

.footer__items a:hover {
  text-decoration: underline;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__contacts .footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.3125rem;
}

.footer__contacts .footer__email .email-icon {
  max-width: 33px;
}

.footer__contacts .footer__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.3125rem;
}

.footer__contacts .footer__tel .tel-icon {
  max-width: 33px;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.page {
  background-color: #efefef;
  border-radius: 5px;
  margin-bottom: 90px;
  margin-top: 110px;
}

.page__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 34px;
}

.page__main-offer {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.page img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
  max-width: 577px;
  padding: 25px;
}

.page h1 {
  font-size: 37px;
  line-height: 120%;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 25px;
}

.page p {
  margin-bottom: 40px;
  line-height: 120%;
}

.page__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page__works h2 {
  font-size: 30px;
  color: var(--black-color);
  font-weight: bold;
  margin-bottom: 35px;
}

.page__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 120%;
}

.page__contacts {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 200px;
}

.page__contacts-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 0px 100px;
  gap: 1.25rem;
}

.page__contacts-decoration.decoration-top {
  max-width: 100px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.page__contacts-decoration.decoration-bottom {
  max-width: 100px;
  position: absolute;
  right: 0px;
  top: 310px;
  margin-left: 70px;
}

.page__ourworks {
  margin-top: 100px;
}

.page__gallery h1 {
  margin-top: 120px;
  margin-bottom: 30px;
  font-weight: 600;
  color: #494949;
  font-size: 37px;
  text-align: center;
}

.page__gallery .gallery__items {
  margin-top: 35px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.625rem;
}

.page__gallery a {
  display: block;
  width: 350px;
  height: 250px;
  overflow: hidden;
}

.page__gallery a img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.page__gallery a img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.8;
}

.works__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 70px;
}

.works-card {
  background: #efefef;
  padding: 0px 20px;
  padding-bottom: 25px;
  padding-top: 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.works-card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  border: 1px solid #494949;
}

.works-card img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 5px;
  max-width: 345px;
}

.works-card h3 {
  font-size: 24px;
  color: #494949;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  line-height: 24px;
}

.button__wrapper {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px 35px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  background-color: #0a0a0a;
  color: #fff;
  max-width: 535px;
  height: 55px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button__wrapper:hover {
  background-color: #fff;
  border: 1px solid #0a0a0a;
  color: #0a0a0a;
}

.button__see-more {
  margin-bottom: 100px;
}

h2 {
  font-size: 30px;
  color: #0a0a0a;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

.about__box,
.bottom-box,
.top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.about__box .image-top,
.bottom-box .image-top,
.top-box .image-top {
  max-width: 490px;
  padding-left: 20px;
}

.about__box .image-bottom,
.bottom-box .image-bottom,
.top-box .image-bottom {
  max-width: 580px;
  padding-right: 20px;
}

.about__box .about__inner-text,
.bottom-box .about__inner-text,
.top-box .about__inner-text {
  max-width: 510px;
  margin-bottom: 20px;
}

.about__box .about__inner-text a,
.bottom-box .about__inner-text a,
.top-box .about__inner-text a {
  color: #0a0a0a;
}

.about__box .about__inner-text a:hover,
.bottom-box .about__inner-text a:hover,
.top-box .about__inner-text a:hover {
  text-decoration: underline;
}

.bottom-box {
  margin-bottom: 120px;
}

.contacts-content__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.contacts-content__description {
  max-width: 400px;
  margin: 0 auto;
}

.contacts-content__email,
.contacts-content__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 5px;
}

.contacts-content__email a,
.contacts-content__tel a {
  color: #0a0a0a;
}

.contacts-content__email a:hover,
.contacts-content__tel a:hover {
  text-decoration: underline;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }

  .page__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .page__main-offer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .page img {
    width: 100%;
    padding: 25px 0;
  }

  .page h1 {
    width: 100%;
    text-align: center;
  }

  .page p {
    width: 100%;
    text-align: center;
  }

  .page__about {
    margin-top: 45px;
  }

  .page__about h2 {
    margin-bottom: 30px;
  }

  .page__about p {
    text-align: center;
  }

  .page__contacts-items {
    grid-template-columns: repeat(1, 1fr);
    justify-items: normal;
    gap: 0.625rem;
  }

  .page__contacts-decoration.decoration-bottom {
    right: 10px;
    top: 480px;
  }

  .works__row {
    grid-template-columns: repeat(2, 1fr);
  }

  .button__wrapper {
    margin: 0 auto;
    max-width: 100%;
    -ms-flex-line-pack: center;
    align-content: center;
  }
}

@media (max-width: 781.98px) {
  .container {
    max-width: 740px;
  }

  .menu {
    position: fixed;
    background-color: #191919;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vh;
    display: none;
  }

  .menu__item-link {
    color: #fff;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2;
    -webkit-animation: fade 0.1s linear;
    animation: fade 0.1s linear;
  }

  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 20px;
    width: 30px;
  }

  .header__burger.active::before {
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.138, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.138, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.138, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .header__burger.active::after {
    background-color: #fff;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: #000;
    height: 2px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__contacts {
    margin-top: 30px;
  }

  .about__box,
  .bottom-box,
  .top-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .about__box .image-top,
  .bottom-box .image-top,
  .top-box .image-top {
    padding-left: 0;
  }

  .about__box .image-bottom,
  .bottom-box .image-bottom,
  .top-box .image-bottom {
    padding-right: 0;
  }

  .bottom-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .contacts-content__title {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .contacts-content__description {
    margin-bottom: 15px;
    font-size: 16px;
  }

  .contacts-content__email,
  .contacts-content__tel {
    margin-bottom: 15px;
    font-size: 16px;
  }
}

@media (max-width: 781.98px) and (max-width: 781.98px) {
  .menu__item-link {
    font-size: 30px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }

  img {
    width: 300px;
  }

  .page__contacts {
    margin-bottom: 100px;
  }

  .page__contacts-items {
    padding: 0;
  }

  .page__contacts-decoration.decoration-top {
    display: none;
  }

  .page__contacts-decoration.decoration-bottom {
    display: none;
  }

  .works__row {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 369.98px) {
  img {
    width: 240px;
  }
}
